.top-page {
  background-image: image-url("game.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  font-family: "hannotate tc";

  h1 {
    text-align: center
  }

  p {
    margin-top: 20px;
    font-size: 20px;
  }
}