<div class="about">
  <div class="profile">
    <h1 class="title">制作者紹介</h1>
    <p>初めまして。制作者の小林太一（こばやしたいち）と申します。</p>
    <p>プログラミング未経験からスクールに入学し現在勉強中です。</p>
    <p>私はゲームが好きでほぼ毎日やっています。今回はゲームの楽しさを皆さんに<br>
       お伝えしたくゲームのレビューサイトを作りました。</p>
    <p>少しでも多くの方にゲームの魅力をお伝えできたら嬉しいです。</p>
  </div>
</div>